<div class="fullscreen-container">
  <%= image_tag "basketball-court.jpg", class: "basketball-court" %>

  <div class="title">
    <h1 class="mvp-title">MVP</h1>
    <%= link_to "Démarrer le quizz", start_quiz_path, class: "start-quizz-button" %>
    <%= image_tag "basketball.png", class: "basketball" %>
  </div>
</div>
